#searchrow
{
	margin-bottom:10px;
}

#brandlogo
{
	width: 180px;
	margin-bottom: 25px;
}

#countrytable
{
	text-align: center;
	margin-top: 100px;
	/*width: 100%;*/
}

thead
{
	background:#0077BE;
}


.table-condensed>thead>tr>th
{
	padding:3px;
}

.conatiner
{
	/*padding-left: 0;*/
	margin-left:0;
	margin-right: 0;
}

h2
{
	text-align: center;
}




/*Media Queries*/

@media (min-width: 800px) 
{

	.glyphicon
	{
		font-size: 22px;
	}

	#button
	{
		margin-top: 170px;
		font-size: 22px;
	}

	#countrytable
	{
		/*margin-top: 170px;*/
		font-size: 22px;
	}

} 

@media (max-width: 480px) 
{
	#button
	{
		font-size: 14px;
		margin-top: 200px;
	}

	#countrytable
	{
		font-size: 14px;
	}

}


@media (max-width: 400px) 
{
	#button
	{
		font-size: 10px;
		margin-top: 200px;
	}

	#countrytable
	{
		font-size: 10px;
	}

}

@media (max-width: 800px) 
{
	#button
	{
		margin-top: 170px;
	}

}

