#myModalDialog1
{
   width: 100%;
}

#playerDiv
{
   height: 700px;
   overflow-y: scroll;
}

#btnClose
{
   margin-left: 40%;
}

#btnAdd
{
   margin-left: 20px;
}

#playerTable thead
{
   background-color: #F0E8A0;
}
#searchrow
{
   margin-bottom:10px;
}

#brandlogo img
{
   padding-top: -30px;
   margin-top: -24px;

}

#brandlogo
{
   width: 180px;
   margin-bottom: 15px;
}

#countrytable th
{
   text-align: center;
   /*width: 100%;*/
}

#countrytable 
{
   margin-top: 20px;
   /*width: 100%;*/
}

#updateBtn
{
   margin-left: 10px;
   /*padding-left: 10px;*/
}

.updaterow 
{
    text-align: right; 
}

.updaterow input
{

    text-align: right; 
}


#pagerId
{
   float: right;
}

.tableCountry thead
{
   background:darkkhaki;
}


.table-condensed>thead>tr>th
{
   padding:3px;
}

.conatiner
{
   /*padding-left: 0;*/
   margin-left:0;
   margin-right: 0;
}

h2
{
   /*font-size: 30px;*/
   text-align: center;
   color:#26a750;
   /*font-weight: bold;*/
}




/*Media Queries*/

@media (min-width: 800px) 
{
   #pager-ul
   {
      padding-left: 37%;
   }

   .glyphicon
   {
      font-size: 22px;
   }

   #button
   {
      margin-top: 120px;
      font-size: 22px;
   }

   #countrytable
   {
      /*margin-top: 170px;*/
      font-size: 22px;
   }

} 

@media (max-width: 480px) 
{
   #button
   {
      font-size: 14px;
      margin-top: 200px;
   }

   #countrytable
   {
      font-size: 14px;
   }

}


@media (max-width: 400px) 
{
   #button
   {
      font-size: 10px;
      margin-top: 200px;
   }

   #countrytable
   {
      font-size: 10px;
   }

}

@media (max-width: 800px) 
{
   #button
   {
      margin-top: 120px;
   }
   #pager-ul
   {
      padding-left: 12%;
   }

}

